body {
    background-image: url('../img/imagen2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vW;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    margin-top: 150px; /* Ajusta este valor al alto de tu header */
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    border-bottom: 2px solid #0077ff; /* Línea azul debajo del header */
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

/* Logo */
.logo img {
    width: 80px;
    height: auto;
    border-radius: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logo img:hover {
    transform: scale(0.9);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Estilo de los elementos del menú */
nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #161515;
    font-size:  14px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0077ff;
}

/* Estilos del botón de Solicitud de Crédito */
nav ul li.solicitud-credito a {
    display:inline-block;
    background-color: #0077ff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Animación al hacer hover en el botón */
nav ul li.solicitud-credito a:hover {
    background-color: #003366; /* Cambia el color de fondo */
    transform: scale(1.04); /* Aumenta ligeramente el tamaño */
}
/* Estilos para el ícono de hamburguesa */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    color: #0077ff;
    padding: 15px 25px;  
    border-radius: 100px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.menu-toggle:hover {
    background-color: #004085;
    transform: scale(0.8);
    color:#ffffff;
}
/* Mostrar el ícono de menú en pantallas pequeñas */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
        z-index: 1001; /* Asegura que esté encima del menú */
    }

    .menu {
        display: none; /* Ocultar menú inicialmente */
        flex-direction: column;
        align-items: center; /* Centrar opciones horizontalmente */
        text-align: center; /* Centrar el texto de las opciones */
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background-color: #ffffff;
        padding-top: 100px;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }
    .menu li {
        margin: 15px 0;
    }
    

    .menu.active {
        display: flex;
        transform: translateX(0);
    }
}

/* Fondo de la sección del formulario */
.form-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del formulario */
.form-container {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #0077ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0,  1);
    text-align: center;
}

/* Títulos y subtítulos */
.form-container h2 {
    color: #0077ff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.form-container h2 span {
    color: #ff0000;
}

hr.separador-cont {
    border-top: 3px solid #ff0000;
}

.form-container p { 
    font-size: 14px;
    color: #0077ff;
    margin: 5px 0 15px;
    
}

.form-container p span {
    font-weight: bold;

}
/* Estilos de los campos de entrada */
.form-container label {
    font-size: 14px;
    color: #333;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container select {
    appearance: none;
}

/* Estilo del botón de envío */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button {
    transition: all .2s ease-out;
    
}

.form-container button:hover {
    background-color: #cd0000f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0,  .3);
}

/* Estilo para los términos y el reCAPTCHA */
.captcha, .terms {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.captcha input, .terms input {
    margin-right: 10px;
}

.credit-section {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
    border: 3px solid #0077ff;
    padding: 20px;
    text-align: left;
    background-color: #fff;
}
.credit-section h1 {
    color: #0077ff; /* Color de título principal */
    text-align: center;
    margin-bottom: 10px;  
}

hr.separador {
    border-top: 5px solid #ff0000;
    width: 100%;
}

.credit-section h2 {
    color: #0077ff; /* Color del subtítulo */
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    margin: 20px;
}

.credit-section strong {
    color: #005cc6;
}

.sub-text {
    text-align: center;
    font-size: 14px;
    color: #0077ff; /* Color del texto pequeño debajo */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.credit-info{
    font-size: 12px;
    text-align: justify;
    margin: 60px;
}

.credit-info p {
    margin: 15px 0;
}

.credit-info strong {
    color: #333; /* Color para destacar las etiquetas */
}

.credit-info a {
    color: #0056a4; /* Color de los enlaces */
    text-decoration: none;
}

.credit-info a:hover {
    text-decoration: underline;
}

footer {
    background-color: #004085;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
